*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #546854;
    text-align: center;

}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 9.9px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1vmin;
    border: none;
    box-shadow:0 0 1rem rgba(0 , 0, 0.1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #98981c;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191919;
    color: azure;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191919;
    color: azure;
    border-radius: 1rem;
}
#mgs{
    color: #ffffc7;
    font-size: 4vmin;
}
.mgs-container{
    height: 80vmin;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;
    display: flex;
    flex-direction: column;
    gap: 4rem;



}
.hide{
    display: none;
}